/*CUSTOM PROPERTIES*/
:root{
    --bg-color: pink;
    --primary-color: brown;
}

/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*FLEXBOX*/
.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/*HEADER*/
/*Nav*/
nav{
    width: 100%;
    height: 4rem;
    background-color: #add8e6;
    padding: 1rem;
}

.flex-navbar{
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flex-nav-section{
    width: calc(100% / 6);
    height: 2rem;
    background-color: orange;
    border: 2px dashed black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.big{
    flex-grow: 1;
}

/*Header*/
header{
    width: 100%;
    height: 25rem;
    background-color: blue;
}

.flex-intro{
    width: 60%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flex-intro-section{
    width: 60%;
    height: 80%;
    background-color: #f789f3;
    border: 2px dashed black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/*CONTENT*/
main{

}

aside{

}

/*FOOTER*/
footer{
    
}