/*CUSTOM PROPERTIES*/
/* :root{
    --bg-color: white;
    --primary-color: brown;
} */

/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*FLEXBOX*/
.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/*HEADER*/
/*Nav*/
nav{
    width: 100%;
    height: 4rem;
    background-color: #add8e6;
    padding: 1rem;
}

.flex-navbar{
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flex-nav-section{
    width: calc(100% / 6);
    height: 2rem;
    background-color: orange;
    border: 2px dashed black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.big{
    flex-grow: 1;
}

/*Header*/
header{
    width: 100%;
    height: 25rem;
    background-color: darkblue;
}

.flex-intro{
    width: 60%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flex-intro-section{
    width: 60%;
    height: 80%;
    background-color: #f789f3;
    border: 2px dashed black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/*CONTENT*/
/*Main*/
main{
    width: 100%;
}

.flex-main-portion{
    display: flex;
    width: 100%;
    margin: auto;
    height: 500px;
}

.flex-main-portion.graybg{
    background-color: gray;
}

.flex-main-portion.darkbg{
    background-color: rgb(50, 50, 50);
}

.flex-content{
    width: 80%;
    margin: 5rem auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flex-content-section{
    width: calc(100% / 3);
    height: 250px;
    border: 2px dashed black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flex-content-section.pinkbg{
    background-color: lightpink;
}

.flex-content-section.bluebg{
    background-color: blue;
    flex-grow: 1;
}

.flex-content-section.greenbg{
    background-color: green;
    width: 100%;
    height: 400px;
}

/*Aside*/
aside{
    width: 100%;
}

.flex-content-section.cyanbg{
    background-color: cyan;
    border: 2px dashed white;
}

.flex-content-section.salmonbg{
    background-color: salmon;
    flex-grow: 1;
}

aside .flex-content-section{
    width: 250px;
}

/*FOOTER*/
footer{
    width: 100%;
    height: 6rem;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    background-color: rgb(50, 50, 50);
}

.flex-foot-portion{
    display: flex;
    width: 100%;
    height: 6rem;
    margin: auto;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

.flex-ending{
    width: 60%;
    height: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: cyan;
    align-self: flex-end;
}

.flex-footer-section{
    width: 100px;
    height: 2rem;
    background-color: white;
    border: 2px dashed black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}