/*CUSTOM PROPERTIES*/
:root{
    --bg-color: pink;
    --primary-color: brown;
}

/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*FLEXBOX*/
.flex-container{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

/*HEADER*/
nav{

}

header{

}

/*CONTENT*/
main{

}

aside{

}

/*FOOTER*/
footer{
    
}